{
  "parser": "babel-eslint",
  "plugins": ["react", "react-hooks", "prettier"],
  "extends": ["prettier", "prettier/react", "eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaVersion": 2015,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "node": true,
    "browser": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error"
  },
  "globals": {
    "__DEV__": true
  }
}
